<div id="cadastro" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Faça seu Cadastro</h3>
    </div>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name">Nome</label>
                    <input type="text" class="form-control" id="Name" placeholder="Seu Nome Completo">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" class="form-control" id="Email" placeholder="Email@exemplo.com">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Passowrd">Senha</label>
                    <input type="password" class="form-control" id="Passowrd" placeholder="Senha">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ConfirmPassword">Confirmar Senha</label>
                    <input type="password" class="form-control" id="ConfirmPassword" placeholder="Senha">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="numMatricula">Numero de Matricula</label>
                    <input type="password" class="form-control" id="numMatricula" placeholder="Ex: 0123456">
                </div>
            </div>
            <div class="col-md-6">
                <select id="tipo" class="form-control">
                    <option> </option>
                    <option>Aluno</option>
                    <option>Secretaria</option>
                    <option>Administrador</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Ok</button>

    </form>
</div>
